LK3000_Schematics/\#auto_saved_files\#
LK3000_Schematics/fp-info-cache
.DS_Store
LK3000_Schematics/~LK3000_Schematics.kicad_sch.lck
/LK3000_Schematics/LK3000_Schematics-backups
LK3000_Schematics/LK3000_Schematics.kicad_prl
LK3000_Breakout_Cartridge/fp-info-cache
LK3000_Breakout_Cartridge/LK3000_Breakout_Cartridge.kicad_prl
/LK3000_Breakout_Cartridge/LK3000_Breakout_Cartridge-backups
